<div class="container">
    <div id="wrapper">
        <div id="header">
            <div class="page-header">
                <h1>About Us</h1>
            </div>
        </div>
        <div id="content">
            <div class="row">
                <div class="col-md-7">
                    <p>Looking for an internship? Or potential interns for your business?<br>Then you've come to the right place!</p>
                    <p>
                        Our goal is to provide you with a simple and efficient way to connent with potential
                        <br>employees and employers.
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="img-thumbnail" src="../pics/interview.png" alt="Tile_Logo">
                </div>
            </div>
        </div>
        <div id="footer">
            <p>Copyright 2016 HireMe.co</p>
        </div>
    </div>
</div>