<div class="container">
    <div id="wrapper">
        <div id="header">
            <div class="page-header">
                <h1>About Us</h1>
            </div>
        </div>
        <div id="content">
            <div class="row">
                <div class="col-md-7">
               <p>Looking to start a new career? Or find potential employees for your business?<br>Then you've come to the right place! 
                  Our goal is to provide you with the most simple and efficient way to connent with potential
                  employees or employers. Here at HireMe.Co we strive to provide the best service for job seekers
                  looking for a new journey in their professional career, while also giving employers a chance to 
                  find employees that best fit their company culture and preferences. 
                  </p>
                  <p> HireMe.Co was created in early 2016  and based out of Chicago, Illinois. It is rapidly becoming a very popular choice for 
                      all work place professionals seeking to fill positions. We created this website to fit both
                      sides of the field and making it the only tool you need to help find a new career employee.
                      It was made by the users for the users so our goal is to make it easy for anyone registered
                      for our service. We encourage any feedback or questions you may have, you can get in touch by using
                      our contact information and we will do our best to get you as soon as possible! Here at HireMe.Co we understand 
                      how hard it can be to find a new job or employee that fits your companies needs so we're here to help.   </p>
                </div>
                <div class="col-md-5">
                    <img class="img-thumbnail" src="../images/logo.png" alt="Tile_Logo">
                </div>
            </div>
        </div>
        <div id="footer">
          <b>  <p>Copyright 2016 HireMe.Co</p></b>
        </div>
    </div>
</div>