<!-- ============ CONTENT START ============ -->

<section id="jobs">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article>
                    <h2>About {{ViewingCompany.companyName}}</h2>
                    <h4>{{ViewingCompany.location}}</h4>
                    <p>{{ViewingCompany.description}}</p>
                    <hr>
                    <h2>Jobs Posted</h2>
                    <div class="jobs" ng-repeat="job in ViewingCompany.jobs">
                        <!-- Job offer 1 | filter: {$:ViewingCompany.companyName -->
                        <button ng-click="GoToPost(job)">
                            <div class="featured"></div>
                            <div class="title">
                                <h5>{{job.JobTitle}}</h5>
                                <p>{{job.Company.companyName}}</p>
                            </div>
                            <div class="data">
                                <span class="city"><i class="fa fa-map-marker"></i>{{job.Location}}</span>
                                <span class="type full-time"><i class="fa fa-clock-o"></i>{{job.EmploymentType}}</span>
                                <span class="sallary"><i class="fa fa-dollar"></i>{{job.Salary}}</span>
                            </div>
                        </button>
                    </div>
                </article>
            </div>
            <div class="col-sm-4" id="sidebar">
                <div class="sidebar-widget" id="widget-contact">
                    <h2>Contact</h2>
                    <a href="mailto:{{ViewingCompany.username}}">{{ViewingCompany.username}}</a></li>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ============ CONTENT END ============ -->
