<link rel="stylesheet" href="css/contact.css">

<div class="container" id="contactpage">
    <div id="wrapper">
        <div id="header">
            <div class="page-header">
                <h1>Contact Us</h1>
            </div>
        </div>
        <div id="content">
            <div class="row">
                <div class="col-md-7">
                    <p>CSC 394: Software Projects <br>Group 2</p>
                    <p>Group Members:
                        <ul>
                           <b><li>JarretLong@HireMe.Co</li></b><i> Founder/Creator</i>
                           <b> <li>AnkitPatel@HireMe.Co</li></b><i> Senior IT Manager</i>
                            <b><li>AshhadGhazi@HireMe.Co </li></b><i> IT Director </i>
                            <b><li>MianYousefAli@HireMe.Co</li></b><i> Software Developer </i>
                            <b><li>DavidBrotz@HireMe.Co</li></b> <i> Algorithyms </i>
                            <b><li>ClaireSon@HireMe.Co</li></b>  <i> Design Engineer </i>
                        </ul>

                        </ul>
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="img-thumbnail" src="images/depaul.png" alt="Team_pic">
                </div>
            </div>
        </div>
    </div>
</div>