<link rel="stylesheet" href="css/contact.css">

<div class="container" id="contactpage">
    <div id="wrapper">
        <div id="header">
            <div class="page-header">
                <h1>Contact Us</h1>
            </div>
        </div>
        <div id="content">
            <div class="row">
                <div class="col-md-7">
                    <p>CSC 394: Software Projects <br>Group 2</p>
                    <p>Group Members:
                        <ul>
                            <li>Ankit Patel</li>
                            <li>Jarret Long</li>
                            <li>Ashhad Ghazi</li>
                            <li>Mian Yousef Ali</li>
                            <li>David Brotz</li>
                            <li>Claire Son</li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="img-thumbnail" src="images/team.png" alt="Team_pic">
                </div>
            </div>
        </div>
    </div>
</div>