		<!-- ============ TITLE START ============ -->

		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h1>{{ViewingJob.JobTitle}}</h1>
						<h4>
							<span><i class="fa fa-map-marker"></i>{{ViewingJob.Location}}</span>
							<span><i class="fa fa-clock-o"></i>{{ViewingJob.EmploymentType}}</span>
							<span><i class="fa fa-dollar"></i>{{ViewingJob.Salary}}</span>
						</h4>
					</div>
				</div>
			</div>
		</section>

		<!-- ============ TITLE END ============ -->

		<!-- ============ CONTENT START ============ -->

		<section id="jobs">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<article>
							<h2>Job Details</h2>
                            {{ViewingJob.Description}}
							<h3>Favored Skills</h3>
							<ul ng-repeat="skill in ViewingJob.SkillList">
								<li style="height:10px">{{skill.text}}</li>
							</ul>
							<h3>Favored Culture Characteristics</h3>
							<ul ng-repeat="result in ViewingJob.SurveyList">
								<li style="height:10px">{{result.text}}</li>
							</ul>
                            <p>To apply, email us here at <a href="mailto:" + {{ViewingJob.Company.username}} target="_blank">{{ViewingJob.Company.username}}</a></p>
							<p><a href="#" class="btn btn-primary btn-lg">Apply Here</a></p>
						</article>
					</div>
					<div class="col-sm-4" id="sidebar">
						<div class="sidebar-widget" id="company">
							<h2>About {{ViewingJob.Company.companyName}}</h2>
							<p>{{ViewingJob.Company.description}}</p>
                            <p><button class="btn btn-primary" ng-click="GoToCompany(ViewingJob.Company)">Read more</button></p>
						</div>
						<hr>
						<div ng-show="Account.accountType=='job-seeker'" class="sidebar-widget" id="company-jobs">
							<h2>More matches</h2>
							<ul ng-repeat="result in MatchedJobs | filter:{$:ViewingJob.Company.companyName}">
								<li><a href="" ng-click="GoToJob(result)">{{result.job.JobTitle}}</a></li>
							</ul>
						</div>
                        <div ng-show="Account.accountType=='employer'" class="sidebar-widget" id="company-jobs">
							<h2>More Jobs From this company</h2>
							<ul ng-repeat="result in PostedJobs">
								<li><a href="" ng-click="GoToPost(result)">{{result.JobTitle}}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- ============ CONTENT END ============ -->
