<link rel="stylesheet" href="css/register.css">
<div class="container" id="register">
    <div class="col-md-offset-2 col-md-8">
        <h1>Post Job</h1>
        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <form class="form" ng-submit="post()">
            <div class="form-group">
                <label>Job Title</label>
                <input type="text" class="form-control" name="JobTitle" ng-model="JobForm.JobTitle" required>
            </div>
            <div class="form-group">
                <label>Salary</label>
                <input type="text" class="form-control" name="Salary" ng-model="JobForm.Salary" required>
            </div>
            <div class="form-group">
                <label>Location</label>
                <input type="text" class="form-control" name="Location" ng-model="JobForm.Location" required>
            </div>
            <div class="form-group">
                <label>EmploymentType</label>
                <select class="form-control" name="EmploymentType" ng-model="JobForm.EmploymentType" required>
                    <option value="Part-Time">Part Time</option>
                    <option value="Full-Time">Full Time</option>
                </select>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" name="Description" ng-model="JobForm.Description"></textarea>
            </div>
            <br><br>
            <h1>Skill Set</h1>
            <h2>Rank the technical and personal skills you would like this candidate to have.</h2>
            <div class="section row">
                <div class="col-sm-offset-100 col-sm-4">
                    <label for="SkillList">Skills</label>
                    <ul id="SkillList" ui-sortable="sortableOptions" ng-model="JobForm.SkillList" class="list-group">
                        <li ng-repeat="item in JobForm.SkillList" class="list-group-item">{{item.text}}</li>
                    </ul>
                </div>

                <div class="col-sm-offset-100 col-sm-4">
                    <label for="surveylist">Personal</label>
                    <ul id="surveylist" ui-sortable="sortableOptions" ng-model="JobForm.SurveyList" class="list-group">
                        <li ng-repeat="item in JobForm.SurveyList" class="list-group-item">{{item.text}}</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-offset-2">
                <button type="submit" class="btn btn-primary" ng-disabled="disabled">Post!</button>
            </div>
        </form>
    </div>
</div>