<link rel="stylesheet" href="css/register.css">
<!-- ng-show="registerForm.accountType=='job-seeker'" -->
<div class="container" id="register">
    <div class="col-md-offset-2 col-md-8">
        <h1>Register</h1>
        <div ng-show="error" class="alert alert-danger"></div>

        <form class="form" ng-submit="register()">

            <div class="form-group">
                <lable for="accountType">Are you an employer or a job seeker?</lable>
                <select id="accountType" class="form-control" name="accountType" ng-model="registerForm.accountType" required>
                    <option value="employer">Employer</option>
                    <option value="job-seeker">Job Seeker</option>
                </select>
            </div>

            <!-- JOB SEEKER REGISTRATION -->

            <div id="job-seeker-survey" ng-show="registerForm.accountType===job-seeker">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="username" ng-model="registerForm.username" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" ng-model="registerForm.password" required>
            </div>
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" name="firstname" ng-model="registerForm.firstname" required>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" name="lastname" ng-model="registerForm.lastname" required>
            </div>
            <div class="form-group">
                <label style = "font-size: 50px">Skills Sort</label>
                <ul id="sortable">
                    <li ng-repeat="item in sortableArray" ng-bind="item"></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Level of Education
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Highschool Diploma</a></li>
                    <li><a href="#">Associate's Degree</a></li>
                    <li><a href="#">Bachelor's Degree</a></li>
                    <li><a href="#">Master's Degree</a></li>
                    <li><a href="#">Doctorate Degree</a></li>
                    <li><a href="#">None</a></li>
                </ul>
            </div>
            <br><br>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Major
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Computer Science</a></li>
                    <li><a href="#">Information technology</a></li>
                    <li><a href="#">Information Systems</a></li>
                    <li><a href="#">Network Engineering</a></li>
                    <li><a href="#">Software Engineering</a></li>
                    <li><a href="#">N/A</a></li>
                </ul>
            </div>
            <br><br>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Concentration
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Database Administrator</a></li>
                    <li><a href="#">Game Development</a></li>
                    <li><a href="#">Hardware</a></li>
                    <li><a href="#">Mobile Development</a></li>
                    <li><a href="#">Network Security</a></li>
                    <li><a href="#">Software Development</a></li>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">None</a></li>
                    <li><a href="#">N/A</a></li>
                </ul>
            </div>
            <br><br>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Current Year
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Freshman</a></li>
                    <li><a href="#">Sophomore</a></li>
                    <li><a href="#">Junior</a></li>
                    <li><a href="#">Senior</a></li>
                    <li><a href="#">N/A</a></li>
                </ul>
            </div>
            <br><br>
            <h1 style = "font-size: 30px">Languages</h1>
            <h2 style = "font-size: 15px">Drag known languages into empty box (first being the most proficient)</h2>
            <div class="section row">
                <div class="col-sm-offset-100 col-sm-4">
                    <ul ui-sortable="sortableOptions" ng-model="skillList" class="list-group">
                        <li ng-repeat="item in skillList" class="list-group-item">{{item.text}}</li>
                    </ul>
                </div>
                <div class="col-sm-offset-100 col-sm-4">
                    <ul ui-sortable="sortableOptions" ng-model="surveyList" class="list-group">
                        <li ng-repeat="item in surveyList" class="list-group-item">{{item.text}}</li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="col-md-offset-2">
                <button type="submit" class="btn btn-primary" ng-disabled="disabled">Register</button>
            </div>
            <br>
            </div>

            <!-- END JOB SEEKER SURVEY -->

            <!-- EMPLOYER REGISTRATION -->

            <div id="employer-registration" ng-show="registerForm.accountType===employer">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="username" ng-model="registerForm.username" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" ng-model="registerForm.password" required>
            </div>
            <div class="form-group">
                <label>Company Name</label>
                <input type="text" class="form-control" name="companyname"
                ng-model="registerForm.companyName">
            </div>
            <div class="form-group">
                <label>Location</label>
                <input type="text" class="form-control" name="location"
                ng-model="registerForm.location">
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Company Size
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Large</a></li>
                    <li><a href="#">Medium</a></li>
                    <li><a href="#">Small</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Company Type
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Non-Profit</a></li>
                    <li><a href="#">Startup</a></li>
                    <li><a href="#">Corporate</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Work Environment
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Cubicles</a></li>
                    <li><a href="#">Open Areas</a></li>
                </ul>
            </div>

            <br>
            <div class="col-md-offset-2">
                <button type="submit" class="btn btn-primary" ng-disabled="disabled">Register</button>
            </div>
            <br>
            </div>

            <!-- END JOB EMPLOYER REGISTRATION -->


        </form>

    </div>
</div>
