html,
body {
	margin-top: auto;
	margin-bottom: auto;
	background: #4d4d4d;
	height: 100%;
	color: #ffffff;
}

.navbar {
	margin-bottom: 30px;
}

#wrapper {
	font-family: "Trebuchet MS";
}

#header {
	color: #33adff;
}

#content {
	font-size: 16px;
}

#content .col-md-5 img{
	width: 80%;
}

#footer {
	color: #cccccc;
	font-size: 12px;
	position: absolute;
	right: 0;
	bottom: 20px;
	left: 0;
	text-align: center;
}