body {
	margin-top: auto;
	margin-bottom: auto;
	background-color: #e6e6e6;
}

#loginpage {
	padding-top: 100px;
}

#loginpage h1{
	padding-bottom: 50px;
	color: #0185F5;
}

#loginpage form {
	margin-bottom: 50px;
}

#loginpage a {
	font-size: 20px;
	color: #0185F5;
}

.btn {
	background-color: #0185F5;
}

.btn:hover {
	background-color: #006AC4;
}