<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Admin</title>
    <base href="/"/>

    <!--Styles-->
    <link rel="stylesheet" href="/public/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <!--Angular-->
    <script src="/public/libs/angular/angular.min.js"></script>
    <script src="/public/libs/angular-route/angular-route.min.js"></script>

    <!--Custom (all the dependencies defined in adminApp)-->
    <script src="/public/js/admin/adminApp.js"></script>
    <script src="/public/js/appRoutes.js"></script>
    <script src="/public/js/controllers/EmployeeModule.js"></script>
</head>
<body ng-app="adminApp">
    <div class="container">
        <h1>Admin Dashboard</h1>
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Main Page</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="admin/employees">View Job Seekers</a></li>
                <li><a href="admin/employers">View Employers</a></li>
                <li><a href="admin/jobs">View Jobs</a></li>
            </ul>
        </nav>
        <div ng-view></div>
    </div>
</body>
</html>